/* common */
body{
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4; 
  font-family: 'Nanum Gothic', sans-serif;
  width: 1920px;
  overflow: hidden;
}

img{
  display: block;
}
a,
a:visited {
  text-decoration: none;
  color: #242726;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 60
}
input{
  text-decoration: none;
}



/* .clear {
  clear: both;
}

.pageTitle {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1em;
  color: #00AE68;
}

.pageSubTitle {
  margin-bottom: 0.5em;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 1em;
  color: #222;
}

.articleTitle {
  font-size: 1.15em;
  font-weight: 700;
  line-height: 1em;
  color: #222;
} */

.wrapper {
  width: 700px;
  margin: 20px auto;
  
}

.container {
  width: 500px;
  padding-top: 1em;
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-top: 20px;

  
}
a.btnPush {
  display: block;
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  padding: 0;
  margin: 10px 10px 10px 0;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  color: #FFF;
  border-radius: 20px;
  transition: all 0.2s ;
  font-size: 60px;
}
input.button {
  display: block;
  position: relative;
  float: left;
  width: 100px;
  height: 50px;
  padding: 0;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  border-radius: 20px;
  transition: all 0.2s ;
  font-size: 40px;
}
input.btnPush {
  display: block;
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  padding: 0;
  margin: 10px 10px 10px 0;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  color: #FFF;
  border-radius: 20px;
  transition: all 0.2s ;
  font-size: 60px;
}
.btnBlueGreen {
  background: #9DA7AF;
}
.c_button{
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background: #9DA7AF;
  color: #FFF;
  border:solid #9DA7AF 2px;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  transition: .4s;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
}
.c_button:hover{

  background-color: #5D7D2B;
}

.inner{
  width: auto;
  margin: 0 auto;
  position: relative;
}

.btn{
  width: 500px;
  padding: 10px;
  border:solid #333 2px;
  color: #333;
  border-radius:40px;

  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.btn:hover{
  background-color: #333;
  color: #fff;
}
/* .btn.btn--reverse {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse:hover{
  background-color: transparent;
  color: #333;
}
.btn.btn--brown{
  color: #592b18;
  border-color: #592b18;
}
.btn.btn--brown:hover{
  color: #fff;
  background-color: #592b18;
}
.btn.btn--gold{
  color: #d9aa8a;
  border-color: #d9aa8a;
}
.btn.btn--gold:hover{
  color: #fff;
  background-color: #d9aa8a;
}
.btn.btn--white{
  color: #fff;
  border-color: #fff;
}
.btn.btn--white:hover{
  color: #333;
  background-color:  #fff;
} */
.back-to-position{
  opacity: 0;
  transition: 1s;
} 
.back-to-position.to-right{
 transform: translateX(-150px);
}
.back-to-position.to-left{
  transform: translateX(150px);

}
.show .back-to-position{
  opacity: 1;
  transform: translateX(0);
}
.show .back-to-position.delay-0{
 transition-delay: 0s;
}
.show .back-to-position.delay-1{
  transition-delay: 0.3s;
}
.show .back-to-position.delay-2{
  transition-delay: 0.6s;
}
.show .back-to-position.delay-3{
  transition-delay: 0.9s;
}
/* header */

header{
  background-color:#ffffff;
  border-bottom: 1px solid #9DA7AF;
  position: relative;
  top:0;
  width: 100%;
  
}

header >.inner{
  height: 100px;
}
header >.line{
  height: 20px;
  background-color: #0C1A25;
}
header .logo{
  height: 75px;
  position: absolute;
  top:20px;
  left: 100px;
  bottom: 0;
  margin: auto;
  
}
content { 
  
  background: linear-gradient( to bottom, #9da7afa2, #ffffff04 );
  position: fixed;
  width: 100%;
  height: 100%;
 
 
}
content .main_logo_img{
  position: absolute;
  top: 40%;
  left: 55%;
  transform: translate(-50%,-50%);
}
content .main_logo_img >img{
  
  width: 60%;
}
content .bt{
  position: absolute;
  top: 55%;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%,-50%);
  
}




section {
  background: rgb(209,214,217);
  background: linear-gradient(90deg, rgba(209,214,217,0.75) 0%, rgba(224,231,236,0) 27%, rgba(224,231,236,0) 73%, rgba(209,214,217,0.75) 100%);
  height: 848px;
  
 
  
} 

section .input .title{
  width: 800px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 17%;
  left: 50%;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
section .container{
  width: 330px;
  top:55%;
  left: 50%;
  transform: translate(-50%,-50%);
}


section .input .input_num{
  width: 330px;
  height: 80px;
  border:solid #333 2px;
  border-radius: 50px;
  position: absolute;
  left:50%;
  top: 25%;
  transform: translate(-50%,-50%);
  margin-top: 20px;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}
section .search{
  position: absolute;
  top:90%;
  left: 50%;
  transform: translate(-50%,-50%);
 
  
}
section .search .searchbtn{
  font-size: 50px;
  width: 330px;
  height: 80px;
  text-align: center;
  line-height: 100%;
}


.btnBlueGreen.btnPush {
  box-shadow: 0px 5px 3px 0px #3b3c3f;
}



.btnPush:hover {
  margin-top: 15px;
  margin-bottom: 5px;
}

.btnBlueGreen.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #3b3c3f;
}


th, td {
  border-bottom: 1px solid #444444;
  border-left: 1px solid #444444;
  padding: 10px;
}
th:first-child, td:first-child {
  border-left: none;
}
#s_back{
  display: flex;
  flex-direction: row;
}
.bg{
  width: 30%;
  height: 100%;
  background: #3b3737;
  opacity: 0.5;
  position:absolute;
  top:0;
  left: -30%;
  z-index: 9999;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -ms-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
}
.bg.on{
  left: 0%;
}
#slide_menu{

width:70%;
height:100%;
background:#01111db2;
position:absolute;
top:0;
right: -70%;
background-color:#ffffff; 
-webkit-transition: right 0.5s;
  -moz-transition: right 0.5s;
  -ms-transition: right 0.5s;
  -o-transition: right 0.5s;
  transition: right 0.5s;
  z-index: 9999;
  
}
#slide_menu.on{
  right: 0%;
  
}

#s_header{
  height: 120px;
  background: linear-gradient( to bottom, #9da7afa2, #ffffff04 );
  display: flex;
  
}

.s_title{
  width: 90%;
  font-size: 40px;
  line-height: 120px;
  font-weight: bold;
  margin-left: 5%;
}
#s_header .back_num{
  width: 10%;
  height: 50px;
  line-height: 50px;
  margin-top: 35px;
  font-size: 30px;
  border-radius: 40px;
  margin-right: 5%;
  background-color: #9DA7AF;
  color: #FFF;
  border:solid #9DA7AF 2px;
}
#s_content table{
  width: 95%;
  height: 80%;
  margin: 0 2.5% 0 2.5%;
  border-top: 1px solid #444444;
  border-collapse: collapse;
  font-size: 30px;
  text-align: center;
}
#s_content table th{
  font-weight: bold;
}
.s_under{
 width: 100%;
 font-size: 40px;
 color: red;
 font-weight: bold;
 text-align: center;
 height: 200px;
 line-height: 200px;
}

main{
  display: flex;
}
#left{
  width: 45%;
  background: #5D7D2B;
  
}
#right{
  width: 55%;
  background: blueviolet;
}

/*
header .sub-menu {
  position: absolute;
  top: 10px;
  right: 0;
 display: flex;
 
}

header .sub-menu ul.menu{
display: flex;
font-family: Arial, sans-serif;
}
header .sub-menu ul.menu li{
position: relative;
}
header .sub-menu ul.menu li::before{
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background-color: #e5e5e5; 
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  margin: auto;
}
header .sub-menu ul.menu li:first-child::before{
  display: none;
}
header .sub-menu ul.menu li a{
 
 font-size: 12px;
 padding: 11px 16px;
 display: block;
 color: #656565;
 }
header .sub-menu ul.menu li a:hover{
  color: black;
}
header .sub-menu .search{
 
 height: 34px;
 position: relative;

}
header .sub-menu .search input{
height: 34px;
 width: 36px;
 padding: 4px 10px;
 box-sizing: border-box;
 border: 1px solid #ccc;
 border-radius: 5px;
 outline: none;
 background-color: #fff;
 color: #777;
 font-size: 12px;
 transition: width 0.4s;
}
header .sub-menu .search input:focus{
  width: 190px;
  border-color: #669900;
}
*/
/* header .sub-menu .search .material-icons{
 
 height: 24px;  
 position: absolute;
 top:0;
 bottom:0;
 right: 5px;
 margin: auto;
 transition: 0.4s;
}
header .sub-menu .search.focused .material-icons{
 opacity: 0;
}
header .main-menu{
display: flex;
position: absolute;
bottom: 0;
right: 0;
z-index: 1;
transition: 0.5s;
}
header .main-menu .item .item__name{
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
header .main-menu .item:hover .item__name{
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}
header .main-menu .item .item__contents{
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}
header .main-menu .item:hover .item__contents{
display: block;
}
header .main-menu .item{
transition: 0.9s;
}
header .main-menu .item .item__contents .contents__menu{
  background-color: #2c2a29;
 
}
header .main-menu .item .item__contents .contents__menu > ul{
display: flex;
padding: 20px 0;
}
header .main-menu .item .item__contents .contents__menu > ul >li{
 width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul >li h4{
 padding: 3px 0 12px 0px;
 font-size: 14px;
 color: #fff;
}

header .main-menu .item .item__contents .contents__menu > ul >li ul li{
  padding: 5px 0px;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul >li ul li:hover{
color: #669900;
}
header .main-menu .item .item__contents .contents__texture{
  padding: 26px 0;
  font-size: 12px;
  background-image: url("../images/main_menu_pattern.jpg");
}
header .main-menu .item .item__contents .contents__texture h4{
  color: #999;
  font-weight: 700;
}
header .main-menu .item .item__contents .contents__texture p{
  color: #669900;
  margin: 4px 0 14px;
}
header .badges {
 position: absolute;
 top:132px;
 right: 12px;
} */
/* header .badges .badge{
  border-radius: 10px;
  overflow: hidden; */
  /* margin-bottom: 12px; */
  /* box-shadow: 2px 2px 3px rgba(0,0,0,0.15); */
  /* cursor: pointer;
} */

/* footer 
 footer{
  background-color: #272727;
  border-top: 1px solid #333;
  }
  footer .inner{
   padding: 40px 0 60px 0;
  }
  footer .menu{
   display: flex;
   justify-content: center;
  }
  footer .menu li{
   position: relative;
  
  }
  footer .menu li::before{
    content: "";
    width: 3px;
    height: 3px;
    background-color: #555;
    position: absolute;
    top:0;
    bottom: 0;
    right: -1px;
    margin: auto;
  }
  footer .menu li:last-child::before{
    display: none;
  }
  footer .menu li a{
   color: #ccc;
   font-size: 12px;
   font-weight: 700;
   padding: 15px;
   display: block;
  }
  footer .menu li a.green{
    color: #669900;
  }
  footer .btn-group{
   margin-top: 20px;
   display: flex;
   justify-content: center;
  }
  footer .btn-group .btn{
   font-size: 12px;
   margin-right: 10px;
  }
  footer .btn-group .btn:last-child{
    margin-right: 0;
  }
  footer .info{
   margin-top: 30px;
   text-align: center;
  }
  footer .info span{
    margin-right: 20px;
    color: #999;
    font-size: 12px;
  }
  footer .info span:last-child{
    margin-right: 0;
  }
  footer .copyright{
    color: #999;
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
  
  }
  footer .logo{
    margin: 30px auto 0;
  }