/* common */
body{
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4; 
  font-family: 'Nanum Gothic', sans-serif;
  width: 1920px;
  overflow: hidden; 
}

img{
  display: block;
}
a{
  text-decoration: none;
  color: #fff;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 60
}
input{
  text-decoration: none;
}



.wrapper {
  width: 700px;
  margin: 20px auto;
  
}

.container {
  width: 500px;
  padding-top: 1em;
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-top: 20px;

  
}
a.btnPush {
  display: block;
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  padding: 0;
  margin: 10px 10px 10px 0;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  color: #FFF;
  border-radius: 20px;
  transition: all 0.2s ;
  font-size: 60px;
}
input.button {
  display: block;
  position: relative;
  float: left;
  width: 100px;
  height: 50px;
  padding: 0;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  border-radius: 20px;
  transition: all 0.2s ;
  font-size: 40px;
}

input.btnPush {
  display: block;
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  padding: 0;
  margin: 10px 10px 10px 0;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  color: #FFF;
  border-radius: 20px;
  transition: all 0.2s ;
  font-size: 60px;
}
.btnBlueGreen {
  background: #9DA7AF;
}
.c_button{
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background: #9DA7AF;
  color: #FFF;
  border:solid #9DA7AF 2px;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  transition: .4s;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
}
.c_button:hover{
  color: #ffffff;
  background-color: #5D7D2B;
}

.inner{
  width: auto;
  margin: 0 auto;
  position: relative;
}

.btn{
  width: 200px;
  padding: 10px;
  border:solid #333 2px;
  color: #333;
  border-radius:40px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.btn:hover{
  background-color: #333;
  color: #fff;
}
.r_btn{
  width: 300px;
}
/* .btn.btn--reverse {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse:hover{
  background-color: transparent;
  color: #333;
} */

/* header */

header{
  background-color:#ffffff;
  border-bottom: 1px solid #9DA7AF;
  position: relative;
  top:0;
  width: 100%;
  
}

header >.inner{
  height: 100px;
}
header >.line{
  height: 20px;
  background-color: #0C1A25;
}
header .logo{
  height: 75px;
  position: absolute;
  top:20px;
  left: 100px;
  bottom: 0;
  margin: auto;
  
}
content { 
  
  background: linear-gradient( to bottom, #9da7afa2, #ffffff04 );
  position: fixed;
  width: 100%;
  height: 100%;
 
 
}
content .main_logo_img{
  position: absolute;
  top: 40%;
  left: 55%;
  transform: translate(-50%,-50%);
}
content .main_logo_img >img{
  
  width: 60%;
}
content .bt{
  position: absolute;
  top: 55%;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%,-50%);
  display: flex;
  
}
content .bt .btn1{
  margin-right: 20px;
}



section {
  background: rgb(209,214,217);
  background: linear-gradient(90deg, rgba(209,214,217,0.75) 0%, rgba(224,231,236,0) 27%, rgba(224,231,236,0) 73%, rgba(209,214,217,0.75) 100%);
  height: 848px;
  
 
  
} 

section .input .title{
  width: 800px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 17%;
  left: 50%;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
section .container{
  width: 330px;
  top:55%;
  left: 50%;
  transform: translate(-50%,-50%);
}


section .input .input_num{
  width: 330px;
  height: 80px;
  border:solid #333 2px;
  border-radius: 50px;
  position: absolute;
  left:50%;
  top: 25%;
  transform: translate(-50%,-50%);
  margin-top: 20px;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}
section .search{
  position: absolute;
  top:90%;
  left: 50%;
  transform: translate(-50%,-50%);
 
  
}
section .search .searchbtn{
  font-size: 50px;
  width: 330px;
  height: 80px;
  text-align: center;
  line-height: 100%;
}


.btnBlueGreen.btnPush {
  box-shadow: 0px 5px 3px 0px #3b3c3f;
}



.btnPush:hover {
  margin-top: 15px;
  margin-bottom: 5px;
}

.btnBlueGreen.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #3b3c3f;
}
.inner{
  position: relative;
}
.inner .back_num{
 position: absolute;
 top: 15%;
 right: 5%;
 font-size: 30px;
 width: 150px;
}

th, td {
  border-bottom: 1px solid #444444;
  border-left: 1px solid #444444;
  padding: 10px;
}
th:first-child, td:first-child {
  border-left: none;
}
#s_back{
  display: flex;
  flex-direction: row;
}
.bg{
  width: 30%;
  height: 100%;
  background: #3b3737;
  opacity: 0.5;
  position:absolute;
  top:0;
  left: -30%;
  z-index: 9999;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -ms-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
}
.bg.on{
  left: 0%;
}
#slide_menu{

width:70%;
height:100%;
background:#01111db2;
position:absolute;
top:0;
right: -70%;
background-color:#ffffff; 
-webkit-transition: right 0.5s;
  -moz-transition: right 0.5s;
  -ms-transition: right 0.5s;
  -o-transition: right 0.5s;
  transition: right 0.5s;
  z-index: 9999;
  
}
#slide_menu.on{
  right: 0%;
  
}

#s_header{
  height: 120px;
  background: linear-gradient( to bottom, #9da7afa2, #ffffff04 );
  display: flex;
  
}

.s_title{
  width: 90%;
  font-size: 40px;
  line-height: 120px;
  font-weight: bold;
  margin-left: 5%;
}
#s_header .back_num{
  width: 10%;
  height: 50px;
  line-height: 50px;
  margin-top: 35px;
  font-size: 30px;
  border-radius: 40px;
  margin-right: 5%;
  background-color: #9DA7AF;
  color: #FFF;
  border:solid #9DA7AF 2px;
  transition: 0.3s;
}
#s_header .back_num:hover{
 background: #5D7D2B;  
}
#s_content table{
  width: 95%;
  height: 80%;
  margin: 0 2.5% 0 2.5%;
  border-top: 1px solid #444444;
  border-collapse: collapse;
  font-size: 30px;
  text-align: center;
}
#s_content table th{
  font-weight: bold;
}
.s_under{
 width: 100%;
 font-size: 40px;
 color: red;
 font-weight: bold;
 text-align: center;
 height: 200px;
 line-height: 200px;
}

main{
  display: flex;
  position: relative;
  width: 100%;
  
}
#left{
  width: 45%;
  height: 100vh
  
  
}
#left .car_img a>img{
  position: absolute;
  top: 20%;
  left: 5.5%;
}
#right{
  width: 55%;

  position: relative;
}

#right .r_title{
 font-size: 64px;
 font-weight: bold;
 position: absolute;
 top: 10%;
 left: 10%;
}
#right #car_content{
  position: absolute;
  top: 20%;
  left: 10%;
}
#right #car_content .car_imfo{
  font-size: 40px;
  margin-bottom: 20px;
}
#right #car_content .fix_history{
  font-size: 48px;
}
#right #car_content .fix_history .fix_bt{
  height: 100px;
  width: fit-content;
  margin-top: 20px;
}
#f_content input[id*="answer"]{
  display: none;
}
#f_content input[id*="answer"] + label{
  display: block;
  border-bottom: 0;
  color: #3b3c3f;
  font-weight: 900;
  cursor: pointer;
  font-size: 15px;
}
#f_content input[id*="answer"] + label + div{
  max-height: 0;
  transition: .35s ;
  overflow: hidden;
  font-size: 15px;

}
#f_content input[id*="answer"] + label + div p,ul{
  display: block;
  padding: 20px;
 
}
#f_content input[id*="answer"]:checked + label + div{
  max-height:200px;
 
}
#f_back{
  display: flex;
  flex-direction: row;
}
.backg{
  width: 50%;
  height: 100%;
  background: #3b3737;
  opacity: 0.5;
  position:absolute;
  top:0;
  left: -50%;
  z-index: 9999;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -ms-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
}
.backg.on{
  left: 0%;
}
#fhi_menu{

width:50%;
height:100%;
background:#01111db2;
position:absolute;
top:0;
right: -70%;
background-color:#ffffff; 
-webkit-transition: right 0.5s;
  -moz-transition: right 0.5s;
  -ms-transition: right 0.5s;
  -o-transition: right 0.5s;
  transition: right 0.5s;
  z-index: 9999;
  
}
#fhi_menu.on{
  right: 0%;
  
}

#f_header{
  height: 120px;
  background: linear-gradient( to bottom, #9da7afa2, #ffffff04 );
  display: flex;
  
}

.f_title{
  width: 90%;
  font-size: 40px;
  line-height: 120px;
  font-weight: bold;
  margin-left: 5%;
}
#f_content{
  padding-left: 40px;
}
#f_content h4{
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  background: #959ca1;
  padding-left: 20px;
}
#f_content .accordion ul{
  font-size: 20px;
  background: linear-gradient( to bottom, #9da7afa2, #ffffff04 );
}
#f_header .back_num{
  width: 10%;
  height: 50px;
  line-height: 50px;
  margin-top: 35px;
  font-size: 30px;
  border-radius: 40px;
  margin-right: 5%;
  background-color: #9DA7AF;
  color: #FFF;
  border:solid #9DA7AF 2px;
}
#fhi_menu{
  overflow: auto;
}
#fhi_menu::-webkit-scrollbar{
  width: 20px;
}
#fhi_menu::-webkit-scrollbar-thumb{
  background-color: #959ca1;
  border-radius: 10px;    
}


#fhi_menu::-webkit-scrollbar-track{
  background-color: rgba(0,0,0,0);
}
.under{
 width: 100%;
 font-size: 40px;
 font-weight: bold;
 text-align: center;

}

#r_left input[id*="answer"]{
  display: none;
}
#r_left input[id*="answer"] + label{
  display: block;
  border-bottom: 0;
  color: #3b3c3f;
  font-weight: 900;
  position: relative;
  cursor: pointer;
  font-size: 50px;
  margin-bottom: 10px;
}
#r_left input[id*="answer"] + label + div{
  max-height: 0;
  transition: .35s ;
  overflow: hidden;
  font-size: 20px;

}
#r_left input[id*="answer"] + label em{
  position: absolute;
  top: 50%;
  right: 30px;
  width: 50px;
  height: 50px;
  margin-top: -15px;
  display: inline-block;
  background:url(../img/under_arrow.png) 0 0 no-repeat;
  transition: 0.3s;
}
#r_left input[id*="answer"] + label + div p,ul{
  display: block;
  padding: 20px;
  font-weight: 600; 
  font-size: 24px; 
}
#r_left ul{
  background: linear-gradient( to bottom, #9da7afa2, #ffffff04 );
}
#r_left p{
  color: red;
  font-weight: 900;
}
#r_left input[id*="answer"]:checked + label + div{
  max-height:350px; 

}
#r_left input[id*="answer"]:checked + label em{
  transform: rotate(180deg);
}

.fix_title{
 display: block;
 width: 100%;
 background: #333;
 margin-bottom: 20px;
}
.fix_title h1{
  color: #fff;
  font-size: 60px;
  margin-left: 80px;
}

#m_content{
  display: flex;
}
#r_left{
  width: 46%;
  overflow: auto;
  height: 750px;
  margin-left: 4%;
}
#r_left::-webkit-scrollbar{
  width: 20px;
}
#r_left::-webkit-scrollbar-thumb{
  background-color: rgb(156, 149, 149);
  border-radius: 10px;    
}


#r_left::-webkit-scrollbar-track{
  background-color: rgba(0,0,0,0);
}
#r_right{
  width: 42%;
  margin-right: 5%;
  margin-left: 3%;
}
#r_right .confirm{
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}
#result{
  height: 200px;
  border: 1px solid #0C1A25;
  border-radius: 20px;
  padding: 5%;
  font-size: 24px;
} 
#r_right .btn{
  margin-top: 20px;
}
#pop_up{
  width: 600px;
  height: 500px;
  background: #FFF;
  position:absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}
.pop_up_line{
  width: 600px;
  height: 10px;
  background: #0C1A25;
}
.pop_up_inner{
  border-bottom: 1px solid #0C1A25;
}
.pop_up_inner .pop_up_logo img{
 margin-left: 20px;
}
#pop_up_footer{
  position: absolute;
  margin-top: 50px;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#popup_wrap{
  background-color:rgba(0,0,0,0.3); 
  justify-content:center; 
  align-items:center;     
  position:fixed;         
  top:0;
  left:0;
  right:0;
  bottom:0;
  overflow: hidden; 
  backdrop-filter: blur(4px);
  display: none;
}
#popup_wrap.show{
  display: flex;
}
#pop_up_content{
  font-size: 30px;
  text-align: center;
  padding: 0 40px;
}
#pop_up_content .e1{
  font-weight: bold;
  margin-top: 50px;
}
#pop_up_content .e2{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
}
#pop_up_content .e3{
  font-size: 24px;
  font-weight: bold;
}